.navbar {
  max-width:100%;
  padding:1em;
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
}
.cart-container {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  text-align:right;
  padding:1em;
}

.product-container {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-evenly;
}

.productList {
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  font-family:Arial, Helvetica, sans-serif;
  font-size:0.8em;
}


mat-card {
  width:30%;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items:center;
  margin-bottom:0.9em;
  padding-bottom:1em;
}

mat-card-title {
  font-size:0.8em;
  text-align:center;
}

.mat-card-footer {
  padding-bottom:1em;

}

.cart-payme {
  display:flex;
  flex-flow:row wrap;
  justify-content: space-evenly; 
  width:100%;
}

.cart-flex {
  flex-basis:70%;
}

.showCart {
  width:100%;
  
}

@media only screen and (max-width: 600px) {
  mat-card {
    width:100%;
  }

  .productList {
    width:100%;
    font-size:small;
  }
}
